
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Hanken Grotesk;
}

.mainbox{
    width: 375px;
    height: 809px;
}

.whitebox{
    width: 375px;
    height: 453px;
    background: var(--White, #FFF);
}
.gridbox2{
    display: grid;
    grid-template-columns: auto ;
}
.summ{
  padding-top: 24px;
  margin-bottom: 24px;
  margin-left: 32px;
}
.items{
    margin-bottom: 16px;
 margin-left: 30px;
    width: 315px;
    height: 56px;
}
.item1{
    display: flex;
    justify-content:space-between;
    border-radius: 12px;
    background: var(--red-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #F55);
}
.item2{
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    background: var(--yellow-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #FFB21E);
}
.item3{
    display: flex;
    justify-content: space-between;
   background-color:  var(--green-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #00BB8F);
    border-radius: 12px;
}
.item4{
    display: flex;
    justify-content: space-between;
    background: var(--blue-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #1125D6);
    border-radius: 12px;

}
.item5{
    display: flex;
    justify-content: center;
    border-radius: 28px;
    background-color: rgba(48, 59, 89, 1);

    
}
    


.logos{
    width: 20px;
    height: 20px;
    margin-top: 17px;
    margin-left: 16px;
}
.hund{
    margin-top: 17px;
    margin-right: 6px;
    
}
.numbers{
    margin-top: 17px;
    margin-left: 128px;
    color: var(--Dark-Navy, #303B59);
text-align: right;
font-family: Hanken Grotesk;
font-size: 16px;
font-weight: 700;
}
.categories{
    margin-top: 17px;
    font-weight: 500;
    
}

.txt1{
     color: var(--Red, #F55);;
}
.txt2{
    color: var(--Yellow, #FFB21E);
}
.txt3{
    color: var(--Green, #00BB8F);
}
.txt4{
color: var(--Blue, #1125D6);
}
.bluebox{
    width: 100%;
    height: 356px;
    border-radius: 0px 0px 32px 32px;
    background: var(--Gradient-1, linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%));
    box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15); 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle{
    width: 140px;
    height: 140px;
    background-color: #4D21C9;
    border-radius: 50%;
    padding: 25px 39px 43px 38px;
    margin: 24px 117px 24px 118px;
    background: var(--Gradient-2, linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0.00) 100%, rgba(37, 33, 201, 0.00) 100%));
}
h1{
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Hanken Grotesk;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 72px;
}

h3{
    color: var(--Light-Blue, #CAC9FF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Hanken Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.5168;
    padding-left: 9px;   
}
h2{
    color: var(--Light-Blue, #CAC9FF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 44px 140px 0px 140px;
}
.comment{
    color: var(--Light-Blue, #CAC9FF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Hanken Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 8px 57px 40px;
}
h4{
    color: var(--White, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Hanken Grotesk;
    font-size: 24px;
    font-weight: 700;
}

button{
    color: white;
    width: 100%;
    border-radius: 28px;
    background-color: rgb(33, 33, 173);
}
